<!DOCTYPE html>
<html lang="en">
<head>
  <title>Proyeto Web</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    .jumbotron{
      height: 100%;
      background: #02201E;
    }


    }
  </style>
</head>
<body style="background-color: #02201E">

  <div class="jumbotron" align="center" style="color: solid white" style="padding: 20px" >
  <div style="color: white"><h1 align="center" style="margin-top: 90px" style="color: white">Proyecto Tramites</h1></div>
  <p><h4 align="center" style="color: white">Registro y Creacion</h4></p>
    <p ><h3 align="center" style="color: white">Tramites y Responsables</h3></p>
  <div><img src="Tramited-01.png" class="img-responsive" style="width:100%" alt="Image"></div>        
    <h3 align="center" style="color: white"><b>Bienvenido</b></h3>
    <a class="btn btn-primary " href="http://127.0.0.1:8000/Responsable" >Entrar</a>
    <br>
    <h4 align="center" style="color: #44DBC0">
     Julian Andres Lozano Nieva
      </h4>
   <h4 align="center" style="color: #44DBC0">
     Braian Fernando Trejos Zuñiga
   </h4>
  </div>    
   

</body>
</html>